name: CI

on:
  push:
    branches:
    - main
  schedule:
  - cron: "0 2,14 * * *"

jobs:
  gnu:
    name: Process the GNU and size test results
    runs-on: ubuntu-latest
    steps:
    - name: Install deps
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install jq python3-pandas python3-matplotlib

    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Download the GNU result
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: GnuTests.yml
        name: test-summary
        repo: uutils/coreutils
        path: dl

    - name: Download the busybox result
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: CICD.yml
        name: busybox-result.json
        repo: uutils/coreutils
        path: dl

    - name: Download the toybox result
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: CICD.yml
        name: toybox-result.json
        repo: uutils/coreutils
        path: dl

    - name: Download the individual size result
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: CICD.yml
        name: individual-size-result
        repo: uutils/coreutils
        path: dl

    - name: Download the size result
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: CICD.yml
        name: size-result
        repo: uutils/coreutils
        path: dl

    - name: Download the full test report
      uses: dawidd6/action-download-artifact@v8
      with:
        workflow: GnuTests.yml
        name: gnu-full-result.json
        repo: uutils/coreutils
        path: dl

    - name: Merge the json files
      shell: bash
      run: |
       echo "== dl/gnu-result.json =="
       cat dl/gnu-result.json
       echo "== gnu-result.json =="
       cat gnu-result.json|tail -100
       jq -s '.[0] * .[1]' gnu-result.json dl/gnu-result.json > merged.json
       echo "== merged.json ="
       cat merged.json|tail -100
       mv merged.json gnu-result.json

       echo "== dl/busybox-result.json =="
       cat dl/busybox-result.json|tail -100
       echo "== busybox-result.json =="
       cat busybox-result.json|tail -100
       jq -s '.[0] * .[1]' busybox-result.json dl/busybox-result.json > merged.json
       echo "== merged.json ="
       cat merged.json
       mv merged.json busybox-result.json

       echo "== dl/toybox-result.json =="
       cat dl/toybox-result.json|tail -100
       echo "== toybox-result.json =="
       cat toybox-result.json|tail -100
       jq -s '.[0] * .[1]' toybox-result.json dl/toybox-result.json > merged.json
       echo "== merged.json ="
       cat merged.json|tail -100
       mv merged.json toybox-result.json

       echo "== dl/individual-size-result.json =="
       cat dl/individual-size-result.json
       echo "== individual-size-result.json =="
       cat individual-size-result.json|tail -100
       jq -s '.[0] * .[1]' individual-size-result.json dl/individual-size-result.json > merged.json
       echo "== merged.json ="
       cat merged.json|tail -100
       mv merged.json individual-size-result.json

       echo "== dl/size-result.json =="
       cat dl/size-result.json|tail -100
       echo "== size-result.json =="
       cat size-result.json|tail -100
       jq -s '.[0] * .[1]' size-result.json dl/size-result.json > merged.json
       echo "== merged.json ="
       cat merged.json|tail -100
       mv merged.json size-result.json

       echo "== dl/gnu-full-result.json =="
       cat dl/gnu-full-result.json|tail -100
       mv dl/gnu-full-result.json gnu-full-result.json

       rm -rf dl

    - name: Add & Commit
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Update of the data"

    - name: Generate the graphs
      shell: bash
      run: |
        python graph.py gnu-result.json gnu
        python graph.py busybox-result.json busybox
        python graph.py toybox-result.json toybox
        python individual-size-graph.py individual-size-result.json
        python size-graph.py size-result.json

    - name: Add & Commit the GNU graph
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Refresh the GNU graph"
        add: gnu-results.png

    - name: Add & Commit the busybox graph
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Refresh the busybox graph"
        add: busybox-results.png

    - name: Add & Commit the toybox graph
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Refresh the toybox graph"
        add: toybox-results.png

    - name: Add & Commit the individual size graph
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Refresh the individual size graph"
        add: individual-size-results

    - name: Add & Commit the size graph
      uses: EndBug/add-and-commit@v9.1.4
      with:
        default_author: github_actions
        message: "Refresh the size graph"
        add: size-results.png
